# Environment variables
.env
**/.env

# Dependencies
node_modules
**/node_modules

# Build folders
dist
build
**/dist
**/build

# Hardhat cache & artifacts
blockchain/cache
blockchain/artifacts

# OS files
.DS_Store

# Logs
*.log
npm-debug.log*